/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
}
a,
.custom-btn {
    text-decoration: none;
    transition: all .2s ease-in-out;
}
a:hover,
.custom-btn {
    transform: scale(1.05) !important;
}
h1 {
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
}
/* Navbar */
.custom-btn {
    color: #0d6efd !important;
    background-color: white !important; 
    padding: 3px 10px;
    border-radius: 4px;
}
.custom-btn:hover {
    background-color: green !important;
    color: white !important; 
    cursor: pointer;
}
.admin-btn {
    color: blue !important;
    background-color: orange !important; 
    padding: 3px 10px;
    border-radius: 4px;
}
.admin-btn:hover {
    color: white !important;
    background-color: red !important; 
    cursor: pointer;
}

/* Chat Bubble */
#chat {
    max-width: 300px;
    margin-right: 100px;
}
.fixed-div {
    background-color: transparent;
    color: white;
    padding: 20px;
    top: 60%px;
    right: 2rem;
    bottom: 6rem;
    padding: 2rem;
    border-radius: 30px;
}
  
#chat_open {
    width: 50px;
    display: flex;
    align-items: center;
} 

.hidden {
    display: none;
}

input{
    background-color: rgb(234, 224, 224);
    border-radius: 130px;
    padding: 0.3rem;
    border: none;
}

#chat_join {
    color: #0d6efd !important; 
    background-color: white !important; 
    border: 1px solid black;
}

#chat_welcome {
    background-color: #0d6efd;
    padding: 2rem;
    padding-left: 1rem;
    border-radius: 30px;
    border: 2px solid black
}

#chat_log {
    background-color: rgb(234, 224, 224) !important;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}
#chat_room {
    background-color: #0d6efd ; 
    border: 1px solid black;
    width: 350px;
}

#chat_message_input{
    width: 17rem;
}


/* Client Message */
.client-bubble {
    margin-left: 80px;
}
.client-bubble p{
    font-size: 14px;
}

/* Agent Message */
.agent-bubble .col-md-6{
    margin-left: 40px;
}
.agent-bubble .p-3{
    background-color: rgb(180, 163, 163);
}
.agent-bubble .col-md-1{
    margin-left: -20px;
}
.agent-bubble p{
    font-size: 14px;
}

/* Chat admin */
.chat-admin {
    margin-left: 5rem;
}
.chat-admin a{
    margin-top: 20px !important;
}


/* Small screens */
@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px)
    }
    #chat {
        margin-right: 100px;
    }
}

@media(max-width: 770px) { */
    .client-bubble {
        margin-right: 10rem;
    }
    .initials{
        display: none;
    }
    .row {
        width: 80% !important;
    }
    .agent-bubble {
        margin-left: -50px !important;
    }
}