/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
}
a,
.custom-btn {
    text-decoration: none;
    transition: all .2s ease-in-out;
}
a:hover,
.custom-btn {
    transform: scale(1.05) !important;
}
h1 {
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
}
/* Navbar */
.custom-btn {
    color: #0d6efd !important;
    background-color: white !important; 
    padding: 3px 10px;
    border-radius: 4px;
}
.custom-btn:hover {
    background-color: red !important;
    color: white !important; 
    cursor: pointer;
}
/* Small screens */
@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px)
    }
}